<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/_header %>
</head>

<body>
    <ul>
        <% for(var url in urls) { %>
            <h2>Shortened URL:
                <%= url %>
            </h2>
            <li>Full URL:
                <%= urls[url].longURL %>
            </li>
            <br>
            <li>Number of Visitors:
                <%= urls[url].numVisited %>
            </li>
            <br>
            <li>Date Created:
                <%= urls[url].dateCreated.toDateString() %>
            </li>
            <br>
            <li>Unique Visitors:
                <%= Object.keys(urls[url].uniqueVisits).length; %>
            </li>
            <br>
            <li>Unique Visits:
                <br>
                <% for (let key in urls[url].uniqueVisits) { %>
                    <%= key %>: <%= urls[url].uniqueVisits[key] %>
                    <br>
                <% } %>
            </li>
            <br>
            <li>Hyperlink:
                <a href="localhost:8080/u/<%= url %>">localhost:8080/u/<%= url %></a>
            </li>
            <br>
            <li>
                <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
                    <label for="urlDelete">Delete URL:</label>
                    <input type="submit" value="Submit">
                </form>
            </li>
            <li>
                <a href="localhost:8080/urls/<%= url %>">Edit</a>
            </li>
            <br>
            <% } %>
            <a href="localhost:8080/urls/new">Create a New Short Link</a>
    </ul>
</body>

</html>